:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 80ch;
  --regular-text: 1.10rem;
  --header-text: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  max-width: var(--measure);
  text-rendering: optimizeLegibility;
}

html,
body,
div,
header,
nav,
footer {
  max-width: none;
}

body {
	background: #ffd69c;
  color: #091702;
  line-height: 1.54;
}

header, footer {
  padding: var(--s1);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--s2);
  font-size: var(--header-text);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-break: break-word;
}

p {
  font-size: var(--regular-text);
  overflow-wrap: break-word;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.25px;
}

time {
  font-weight: bold; 
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--s1);
  padding-right: var(--s1);
}


.stack {
  --space: var(--s1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack > * + * {
  margin-top: var(--space);
}

.smallprint {
  opacity: .5;
  font-size: var(--s0)
}

@media(min-width: 700px) {
  * {
    --regular-text: 1.25rem;
    --header-text: 1.5rem;
    --measure: 70ch;
  }
}