:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 80ch;
  --regular-text: 1.3rem;
  --header-text: 1.5rem;
}

@font-face {
    font-family: 'Linux Libertine';
    font-weight: normal;
    font-style: normal;
    src: local("Linux Libertine"), url("../fonts/LinLibertine_R.woff") format("woff");
}

@font-face {
    font-family: 'Linux Libertine';
    font-weight: normal;
    font-style: italic;
    src: local("Linux Libertine Italic"), url("../fonts/LinLibertine_RI.woff") format("woff");
}

@font-face {
    font-family: 'Linux Libertine';
    font-weight: bold;
    font-style: normal;
    src: local("Linux Libertine Bold"), url("../fonts/LinLibertine_RB.woff") format("woff");
}

@font-face {
    font-family: 'Linux Libertine';
    font-weight: bold;
    font-style: italic;
    src: local("Linux Libertine Bold Italic"), url("../fonts/LinLibertine_RBI.woff") format("woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  max-width: var(--measure);
  font-family: 'Linux Libertine', serif;
  text-rendering: optimizeLegibility;
}

html,
body,
div,
header,
nav,
footer {
  max-width: none;
}

body {
	background: #ffbf66;
  color: #091702;
  line-height: 1.54;
}

header, footer {
  padding: var(--s1);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--s2);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-size: var(--header-text);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-break: break-word;
}

p {
  font-size: var(--regular-text);
  overflow-wrap: break-word;
  word-break: break-word;
  text-rendering: optimizeLegibility;
}

time {
  font-weight: bold; 
}

a {
  text-decoration: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--s1);
  padding-right: var(--s1);
}


.stack {
  --space: var(--s1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack > * + * {
  margin-top: var(--space);
}

.smallprint {
  opacity: .5;
  font-size: var(--s0)
}

@media(min-width: 700px) {
  * {
    --regular-text: 1.3rem;
    --header-text: 1.5rem;
    --measure: 70ch;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  }

  p {
    letter-spacing: -0.25px;
  }
}