{{ define "main" }}
	<main class="center stack">
		
		<article class="stack">
			<h1>{{ .Title }}</h1>
			<h2 class="smallprint">Samuel Foster</h2>
			<p class="smallprint">Last modified <time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "January 2, 2006" }}</time>. Started <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>. View <a target="_blank" rel="noopener" href="https://github.com/FosterSamuel/erudio/commits/master/content/{{ lower .Title }}.md">history.</a></p>
			{{ .Content }}
		</article>
		<ul class="navigate-post">
		  {{if .PrevPage}}
		  <li class="previous">
		    <a class="navigate-post-link" href="..{{.PrevPage.RelPermalink}}">&larr;<i>{{ .PrevPage.Title }}</i></a>
		  </li>
		  {{end}}
		  {{if .NextPage}}
		  <li class="next">
		    <a class="navigate-post-link" href="..{{.NextPage.RelPermalink}}"><i>{{ .NextPage.Title }}</i>&rarr;</a>
		  </li>
		  {{end}}
		</ul>
	</main>
{{ end }}
